<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4ed7e9">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index_lab_4' %}">Lab 4</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_note' %}">Form</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: white;" href="{% url 'note_list' %}">Card</a>
                </li>
          </div>
      </div>
    </nav>
        <h1>Note Cards</h1>
        <div class="row">
            {% for attribute in notes%}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">{{ attribute.title }}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">From: {{ attribute.from_user }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">To: {{ attribute.to_user }}</h6>
                        <h6 class="card-text text-justify">{{ attribute.message }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
  </body>
</html>
