<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head> 
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4ed7e9">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: white;" href="{% url 'index_lab_4' %}">Lab 4</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_note' %}">Form</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'note_list' %}">Card</a>
                </li>
          </div>
      </div>
    </nav>
    <h1>Tabel PBP - Lab 04</h1>
    <table>
      <tr class="text-center">
        <th>To user</th>
        <th>From user</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for atribute in notes%}
      <tr>
        <td class="to"> {{atribute.to_user}} </td>
        <td class="from"> {{atribute.from_user}} </td>
        <td class="title"> {{atribute.title}} </td>
        <td class="message"> {{atribute.message}} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
