<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Form</title>
    </head>
    <body>
        <h2>Add Friend</h2>
        <div>
            <form method="POST" action="">
                {%csrf_token%}
                  <p>Nama: {{ form.name }}</p>
                  <p>NPM: {{ form.npm }}</p>
                  <p>Tanggal Lahir: {{ form.DOB }}</p>
                  <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>