<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-2</title>
    <style>
      *{
        margin: 0;
        padding: 0px;
      }
      html{
        font-family: "verdana";
      } 
      h1{
        padding-top: 10px;
        text-align: center;
        font-size: 30px;
      }
      td{
        text-align: center;
        height: 50px;
      }
      table{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-collapse: collapse;
      }
      table, td, th {
        border: 1px solid black;
      }
      .to {
        width: 200px;
      }
      .from{
        width: 200px;
      } 
      .title{
        width: 200px;
      }
      .message{
        padding: 5px;
      }
  </style>
  </head> 
  <body>
    <h1>Tabel PBP - Lab 02</h1>
    <table>
      <tr>
        <th>To user</th>
        <th>From user</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for atribute in notes%}
      <tr>
        <td class="to"> {{atribute.to_user}} </td>
        <td class="from"> {{atribute.from_user}} </td>
        <td class="title"> {{atribute.title}} </td>
        <td class="message"> {{atribute.message}} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
